server {
    listen 80;
    server_name quiz.thekavani.com;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name quiz.thekavani.com;

    root /var/www/quiz.thekavani.com;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/quiz.thekavani.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/quiz.thekavani.com/privkey.pem;

    location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;  # Adjust the version if needed
    }

    
}



location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;  # Adjust the version if needed
    }